<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="3.2.0.3001" />
  <package id="NHibernate" version="3.2.0.3001" />
  <package id="NHibernate.Linq" version="1.0" />
  <package id="NHibernate.SetForNet4" version="1.0.2" />
  <package id="Jose.SessionPerRequest.NHibernate" version="1.0.2" />
  <package id="Jose.DataAccessObjects.NHibernate" version="1.0.0" />
</packages>